@import './variables.scss';

body {
  padding: 1.5rem;
  background-color: black;
  color: $clr-200;
  font-family: $ff-regular;
  font-size: $fs-regular-100;
  font-weight: $fw-regular;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
